.heading_main {
  color: white;
}
.Headings {
  display: flex;
}
.sub_heading {
  color: white;
}
.sub_heading:hover {
  color: #66fcf1;
}

.Links {
  margin-right: 25px;
}
h3 {
  margin-left: 10px;
}
.container {
  /* margin-left: -8px;
  margin-right: -7px; */
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(250, 55, 55);
  width: 100%;
}
/* .badge {
  margin-top: 15px;
  margin-right: 30px;
} */
.link {
  text-decoration: none;
}
.carticon {
  color: white;
}
