.heading_main {
  color: white;
  margin: 0;
}

.container {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 55, 55);
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.Headings {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Links {
  display: flex;
  gap: 20px;
}

.sub_heading {
  color: white;
  font-size: 18px;
  margin: 0;
}

.sub_heading:hover {
  color: #66fcf1;
}

.link {
  text-decoration: none;
}

.carticon {
  color: white;
}

.mobile_menu_icon {
  display: none;
  align-items: center;
  gap: 15px;
}

.mobile_dropdown {
  background-color: rgb(250, 55, 55);
  align-items: center;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* position: absolute; 
  top: 100%;
  right: 0; */
  /* margin-top: 100%;
  background-color: rgb(250, 55, 55);
  width: 100%;
  display: flex;
  flex-direction: row;
  
  padding: 15px 0;
  gap: 15px; */
}

@media (max-width: 768px) {
  .desktop_menu {
    display: none;
  }

  .mobile_menu_icon {
    display: flex;
  }

  .mobile_dropdown {
    display: none;
  }

  .mobile_dropdown.show {
    display: flex;
    flex-direction: column;
    animation: slideDown 0.3s ease-out;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
