.main{
    margin:0 0 30px 0;
}
.Heading {
	margin: 30px 0 50px 0;
	text-align: center;
}
.detail_page {
	border-radius: 15px;
	border-style: solid;
	border-color: rgb(250, 55, 55);
	margin-left: 20px;
	text-align: center;
	background-color: white;
	height: auto;
	width: 300px;
}
.detail_page{
	img{
		width: 70%;
		height: 70%;
		object-fit: contain;
	}
}
.product_details {
	color: rgb(250, 55, 55);
	font-size: 16px;
}
.product_details h2{
	margin: 20px 0;
}
.product_container {
	margin-left: 20px;
}
img {
	margin-top: 10px;
	margin-bottom: 10px;
}
.singleproduct_icon {
	color: rgb(250, 55, 55);
}
