/* html {
	height: 100%;
} */
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    Apple Chancery,
    cursive;
}
